.input {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 15px;
}
.result {
  color: white;
  margin-bottom: 20px;
  font-size: 25px;
  flex: 1;
}
.digit {
  color: white;
  flex: 1;
  font-size: 20px;
}
